<%
  var titleBase = 'ベースタイトル';
  var title = titleBase;
  try {
    if (meta.title) {
      title = meta.title + ' | ' + titleBase;
    }
  } catch (err) {}

  var baseMeta = {
    description: 'base description',
    ogImg: 'ogp.png',
    siteName: 'サイトネーム',
    twitterImg: ''
  };
%>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%= title %></title>
<meta name="description" content="<%= meta.description || baseMeta.description %>" />
<meta property="og:type" content="website" />
<meta property="og:image" content="<%= baseMeta.ogImg %>" />
<meta property="og:site_name" content="<%= baseMeta.siteName %>" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="<%= baseMeta.twitterImg %>" />
<link rel="stylesheet" href="/assets/css/style.css">
